{% extends 'base.html' %}

{% block content %}

    <h3>{{ title }}</h3>

    <div>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
            </form>
        </div>
    </div>

    <div>
        <a href="{% url 'home' %}">Go back?</a>
        {% if object.id %}
            <a href="{% url 'item-delete' todo_list.id object.id %}">Delete this task</a>
        {% endif %}
    </div>

{% endblock content %}